body{
  -webkit-font-smoothing: antialiased;
  color: $secondary-text-color;
}
.app-wrap{
  display:flex;
  height:100vh;
  flex-direction:column;
}
.app-header, .app-footer{
  height:$base-height;
  background-color: $primary-color;
  flex-shrink:0;
}
.app-header{
  padding: 10px;
  border-bottom:1px solid #fff59d;
  color: $primary-color-text;
  display:flex;
  align-items: center;
  justify-content: space-between;
  a {
    font-size: 11px;
    color: $primary-color-text;
   }
  .button {
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    border-radius: 4px;
  }

}
.app-footer{
   border-top:1px solid #e6e6e6;
   display:flex;
   a{
    border-left:1px solid rgba(0,0,0,.1);
    flex-grow:1;
    text-align:center;
    padding:15px;
    color: rgba(0,0,0,0.5);
    &:first-child{
      border:0;
    }
    i{
      display:block;
      font-size: 25px;
      color: $primary-color-text;
      text-shadow: 3px 3px 0 rgba(0,0,0,0.1);
      padding-bottom: 10px;
    }
    &:hover {
      border-bottom: 4px solid $accent-color;
    }
   }
    a.active {
      border-bottom: 4px solid $accent-color;
    }
}
.content{
  flex-grow:1;
  background-color: #fafafa;
  padding:16px;
  line-height:$baseLineHeight;
  font:{
    size:$baseFontSize;
    family:$fontFamily;
  }
  line-height:$baseLineHeight;
}

.sidebar{
  display:none;
  width:300px;
  background-color: $primary-color;
  a.active{
    color:$primary-color-text;
    background-color: rgba(0,0,0,.2);
  }
  h1{
    margin:0;
    padding:20px;
    text-align:center;
    color:$primary-color-text;
    border-bottom: 2px solid  #fff59d;
  }
  a{
    display:flex;
    color: rgba(0, 0, 0, 0.5);
    padding:20px;
    font-size:$largeFontSize;
    &:hover{
      background-color: rgba(0,0,0,.2);
    }
    i {
      color: #fff;
      text-shadow: 3px 3px 0 rgba(0,0,0,0.1);
      display: inline-block;
      margin-right: 10px;
    }
  }
}

@media only screen and (min-width:620px){
  .app-wrap{
    flex-direction:row;
  }
  .app-header, .app-footer{
    display:none;
  }
  .sidebar{
    display:flex;
    flex-direction:column;
  }
}
