@charset "UTF-8";
html, body, h1, h2, h3, h4, h5, h6, blockquote, p,
pre, dl, dd, ol, ul, li, a, span, caption, th, td,
form, fieldset, legend, input, button, textarea, address {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

a, label, :focus {
  outline: 0 none; }

@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg#FontAwesome") format("svg"); }

[class^="fa-"]:before,
[class*="fa-"]:before {
  display: inline-block;
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.fa-search:before {
  content: "";
  font-size: 2rem;
  color: pink;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5); }

.fa-book:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-cog:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

body {
  -webkit-font-smoothing: antialiased;
  color: #727272; }

.app-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.app-header, .app-footer {
  height: 80px;
  background-color: #E91E63;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }

.app-header {
  padding: 10px;
  border-bottom: 1px solid #fff59d;
  color: #FFFFFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .app-header a {
    font-size: 11px;
    color: #FFFFFF; }
  .app-header .button {
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    border-radius: 4px; }

.app-footer {
  border-top: 1px solid #e6e6e6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .app-footer a {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
    padding: 15px;
    color: rgba(0, 0, 0, 0.5); }
    .app-footer a:first-child {
      border: 0; }
    .app-footer a i {
      display: block;
      font-size: 25px;
      color: #FFFFFF;
      text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
      padding-bottom: 10px; }
    .app-footer a:hover {
      border-bottom: 4px solid #536DFE; }
  .app-footer a.active {
    border-bottom: 4px solid #536DFE; }

.content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #fafafa;
  padding: 16px;
  line-height: 1.8;
  font-size: 16px;
  font-family: Arial, Helvetica;
  line-height: 1.8; }

.sidebar {
  display: none;
  width: 300px;
  background-color: #E91E63; }
  .sidebar a.active {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.2); }
  .sidebar h1 {
    margin: 0;
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
    border-bottom: 2px solid  #fff59d; }
  .sidebar a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    font-size: 18px; }
    .sidebar a:hover {
      background-color: rgba(0, 0, 0, 0.2); }
    .sidebar a i {
      color: #fff;
      text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
      display: inline-block;
      margin-right: 10px; }

@media only screen and (min-width: 620px) {
  .app-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
  .app-header, .app-footer {
    display: none; }
  .sidebar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; } }
